.lobby-container {
    background-color: #1B2838;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 15px auto;
    text-align: center;
}

.lobby-name {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color: #2A475E;
    color: #C7D5E0;
}

.game-selection {
    position: relative;
    margin-bottom: 20px;
}

.game-name-dropdown {
    background-color: #2A475E;
    color: #C7D5E0;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-icon {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.dropdown-icon.open {
    transform: rotate(180deg);
}

.game-dropdown-list {
    position: absolute;
    background-color: #2A475E;
    color: #C7D5E0;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 5px 0;
    width: 100%;
    z-index: 10;
    max-height: 200px;
    /* Limita a altura do dropdown */
    overflow-y: auto;
    /* Adiciona scroll vertical */
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #4D7B28;
}

.game-image {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    /* Para que o dropdown seja posicionado corretamente sobre ele */
}

.friend-list {
    margin-top: 20px;
    background-color: #1B2838;
    position: relative;
}

.invite-btn {
    background-color: #4D7B28;
    color: #BEEE11;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.invite-btn:hover {
    background-color: #4d762b
}

.friends {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.friend-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
}

.friend-avatar:hover {
    transform: scale(1.1);
}

.friend-avatar.invited {
    border: 2px solid #4D7B28;
}

.submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    width: 270px;
    height: 55px;
    transition: 0.3s;
}

.submit-btn:hover {
    scale: 1.1;
}

.friends-dropdown {
    position: absolute;
    top: -360%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
    /* 50% de transparência */
    color: #C7D5E0;
    border-radius: 5px;
    overflow-y: auto;
    padding: 10px;
    max-height: 250px;
}

.friend-search {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1B2838;
    color: #C7D5E0;
}


.friend-dropdown-list {
    position: absolute;
    width: 85%;
}


.friends-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Define 2 colunas de tamanho igual */
    gap: 20px;
    /* Espaçamento entre os cards */
    padding: 10px;
}