#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171d25;
    padding: 0 450px;
    position: relative;
    height: 104px;
}

#nav h3 {
    cursor: pointer;
}

#nav-links {
    display: flex;
    align-items: center;
    padding: 0;
}

#nav-links li {
    margin-right: 1em;
    font-size: 1.05em;
}