.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-header {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.profile-username {
    margin-right: 10px;
    font-size: 14px;
    color: white;
    align-self: flex-start;
    /* Alinha o texto com o topo da imagem */
}

.profile-image-container {
    position: relative;
}

.profile-image {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
}

.profile-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #2c3e50;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 150px;
}

.profile-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-dropdown ul li {
    padding: 10px 0;
}

.profile-dropdown ul li a {
    color: white;
    text-decoration: none;
}

.profile-dropdown ul li a:hover {
    color: #3498db;
}

.dropdown-arrow {
    font-size: 12px;
    margin-left: 5px;
}