body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(circle, #053861 3%, #1b2838 70%);
  background-size: cover;
  color: #dcdedf;
}

a {
  color: #dcdedf;
  text-decoration: none;
}

a:hover {
  color: #fffdfd;
}

ul {
  list-style: none;
}